<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Авториация</title>
</head>

<body class="text-center">
<div style="height:600px; width:400px; margin:auto; margin-top:200px">
  <form class="needs-validation" novalidate="" method="POST" action="">
    {{ form.csrf_token }}
    <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <spam class="{{ category }} ">{{ message }}</spam>
    {% endfor %}

    <h1 class="h3 mb-3 fw-normal">Вхід в обліковий запис</h1>
    <div class="form-floating">
      {{ form.email.label() }}
	    {{ form.email(class_="form-control") }}
	    {% if form.email.errors %}
		{% for error in form.email.errors %}
		    {{ error }}
		{% endfor %}
	    {% endif %}
    </div>
    <div class="form-floating">
      {{ form.password.label() }}
	    {{ form.password(class_="form-control") }}
	    {% if form.password.errors %}
		{% for error in form.password.errors %}
		    {{ error }}
		{% endfor %}
	    {% endif %}

    </div>

      <label>
        {{ form.remember.label() }}
	    {{ form.remember(class_="checkbox mb-3") }}

      </label>
    <div>  {{ form.submit(class_="w-100 btn btn-lg btn-primary") }}</div>

    <p class="mt-5 mb-3 text-muted">© 2022 Пере Travel </p>
  </form>
</div>
</body>
</html>