{% extends 'basic.html' %}
{% block title %}Головна{% endblock %}
{% block body%}
<section class="py-5 text-center container mainbg">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Заголовок </h1>
        <p class="lead text-muted">Описание</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Действие №1</a>
          <a href="#" class="btn btn-secondary my-2">Действие №2</a>
        </p>
      </div>
    </div>
  </section>
{% if message %}
    <p class="container" style="font-size:30px; color:black"> {{ message }}</p>
{% endif %}
<div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for el in article_scope %}
        <div class="col">
          <div class="card shadow-sm">
             <svg class=" card-img-top" width="100%" height="225" style="background-image:url(http://127.0.0.1:5000/images/{{el.filepath}}); background-size:cover;"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: {{ el.title }}" preserveAspectRatio="xMidYMid slice" focusable="false"><text x="2%" y="95%" fill="#eceeef" dy=".3em">{{ el.title }}</text></svg>

            <div class="card-body">
              <p class="card-text">{{ el.text[0:50] }}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/post/{{ el.id }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{ el.date.date() }}</small>
                <small class="text-muted">{{ el.preview }}</small>
                <small class="text-muted">{{ el.autorsname }}</small>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}