{% extends 'basic.html' %}
{% block title %}Редагувати маршрут{% endblock %}

{% block body %}
 {{ form.csrf_token }}

<div class="container ">
  <main>
    <div class="py-5 text-center">
      <div class="display-3">Редагування посту</div>
    </div>
      <div class="col-md-12 col-lg-12 align-self-center">
        <form class="needs-validation" method="post" enctype="multipart/form-data">
          <div class="row g-1 align-items-center ">
            <div class="col-md-6 offset-md-2">
              <label for="firstName" class="form-label">Ім'я</label>
              <input name="autorsname" type="text" class="form-control" id="firstName" placeholder="" value="{{ article.autorsname }}" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 offset-md-2">
              <label for="route" class="form-label">Назва машрута <span class="text-muted"></span></label>
              <input name="title"  class="form-control" id="route" placeholder="Через Скандинавію" maxlength="40" value="{{ article.title }}">
            </div>

            <div class="col-md-6 offset-md-2">
              <label for="address" class="form-label">Країна </label>
              <input name="preview" type="text" class="form-control" id="address" placeholder="Данія" required="" maxlength="20" value="{{ article.preview }}">
              <div class="invalid-feedback">
              </div>
            </div>
            <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
         <div class="col-md-6 offset-md-2">
             <div class="col-12">
                <div class="alert-sm alert-info">Рекомендуємо не встановлювати ширину фото більше 900px</div>
                 <div class="alert-sm alert-warning">Дозволені формати фото: gif, jpg, jpeg, png</div>
            </div>
            {{ form.body(class_="form-control ") }}
            {% if form.body.errors %}
                {% for error in form.body.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
         </div>
              <div class="row">
              <div class="col-4  offset-md-2">

                  <div class="col-5">
                    <div class="input__wrapper">
                      <input type=file name=filepath id="input__file" class="input input__file" multiple>
                       <label for="input__file" class="input__file-button">

                          <span class="input__file-icon-wrapper"><img class="input__file-icon" src="" alt="" width="25"></span>
                          <span class="input__file-button-text">Фото на обкладинку</span>
                       </label>
              </div>
                  <button class=" btn btn-primary btn-sm " type="submit">Відправити</button>
                </div>

            </div>
            </div>

            </div>
        </form>
      </div>
  </main>
</div>


<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<script>
let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
      let label = input.nextElementSibling,
        labelVal = label.querySelector('.input__file-button-text').innerText;

      input.addEventListener('change', function (e) {
        let countFiles = '';
        if (this.files && this.files.length >= 1)
          countFiles = this.files.length;

        if (countFiles)
          label.querySelector('.input__file-button-text').innerText = 'Файлів: ' + countFiles;
        else
          label.querySelector('.input__file-button-text').innerText = labelVal;
      });
    });
</script>
{{ ckeditor.load(pkg_type='full') }}
{{ ckeditor.config(name='body', width=800, ) }}




{% endblock %}

