.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}



.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 190px;
  height: 39px;
  background: #26abff;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.mainbg {
    background-image: url("/static/uploads/mainbg.jpeg");
    background-position: center;
    background-size: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #FF8800;
    border-color: #FF8800;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FF4F00;
    border-color: #FF4F00;
}
.form-control:focus {
    border-color: #FF8800;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,136,0,.1),0 0 8px rgba(255,136,0,.1);
    box-shadow: inset 0 1px 1px rgba(255,136,0,.1),0 0 8px rgba(255,136,0,.1);
}

.images-post {
overflow: hidden;
width: 820px;
}

.images-post img {
max-width: 820px;
width:expression(this.width > 820 ? "820px" : this.width);
}




