<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h2>Форма регистрации</h2>
      <p class="lead">Здесь может быть текст</p>
    </div>

    <div class="row g-5"  style="margin-left:300px">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Здесь может быть текст</h4>
        <form class="needs-validation" novalidate="" method="POST" action="" >
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="lastName" name="LastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input type="email" class="form-control" id="email" name="Email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Введите действующий email адресс.
              </div>
            </div>
            <div class="col-12">
              <label class="form-label">Пароль </label>
              <input type="password" class="form-control" id="pw1" name="Password" placeholder="Password" required minLength=5>
            </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Регистрация</button>

          </div>
        </form>
      </div>
    </div>
  </main>
</div>
</body>
</html>